<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="spot_micro_urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00082408 -0.0019325 -0.00012953"
        rpy="0 0 0" />
      <mass
        value="0.1202" />
      <inertia
        ixx="5.2649E-05"
        ixy="-6.1394E-08"
        ixz="2.5669E-10"
        iyy="0.00040441"
        iyz="3.7425E-11"
        izz="0.00036598" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="front_left">
    <inertial>
      <origin
        xyz="0.0098399 -0.035165 -0.074554"
        rpy="0 0 0" />
      <mass
        value="0.5276" />
      <inertia
        ixx="0.0020559"
        ixy="2.7802E-05"
        ixz="0.00014013"
        iyy="0.0017146"
        iyz="-3.7604E-05"
        izz="0.00081558" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/front_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/front_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_joint"
    type="fixed">
    <origin
      xyz="0.066713 0.03056 0.0094108"
      rpy="0 1.5708 0" />
    <parent
      link="base_link" />
    <child
      link="front_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="front_left_thigh">
    <inertial>
      <origin
        xyz="1.1153E-08 -0.031603 0.0092036"
        rpy="0 0 0" />
      <mass
        value="0.022922" />
      <inertia
        ixx="1.5572E-05"
        ixy="1.308E-11"
        ixz="-2.1437E-12"
        iyy="1.627E-06"
        iyz="3.9736E-07"
        izz="1.5478E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/front_left_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/front_left_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_shoulder_joint"
    type="revolute">
    <origin
      xyz="0 0.013411 0"
      rpy="1.5708 0.73804 3.1416" />
    <parent
      link="front_left" />
    <child
      link="front_left_thigh" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="front_left_calf">
    <inertial>
      <origin
        xyz="0.033216 0 0.0026355"
        rpy="0 0 0" />
      <mass
        value="0.0048196" />
      <inertia
        ixx="4.1807E-08"
        ixy="-1.4649E-21"
        ixz="3.0842E-08"
        iyy="4.0529E-06"
        iyz="-6.4519E-24"
        izz="4.0694E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/front_left_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79608 0.82353 0.93725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/front_left_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_knee_joint"
    type="revolute">
    <origin
      xyz="0 -0.0815 0.01025"
      rpy="0 0 3.0986" />
    <parent
      link="front_left_thigh" />
    <child
      link="front_left_calf" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="front_left_foot">
    <inertial>
      <origin
        xyz="0.033216 0 0.0026355"
        rpy="0 0 0" />
      <mass
        value="0.0048196" />
      <inertia
        ixx="4.1807E-08"
        ixy="-1.4649E-21"
        ixz="3.0842E-08"
        iyy="4.0529E-06"
        iyz="-8.1063E-24"
        izz="4.0694E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/front_left_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79608 0.82353 0.93725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/front_left_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_foot_joint"
    type="fixed">
    <origin
      xyz="0.0825 0.0045 0"
      rpy="0 0 0" />
    <parent
      link="front_left_calf" />
    <child
      link="front_left_foot" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="front_right">
    <inertial>
      <origin
        xyz="-0.0098399 -0.025695 -0.074554"
        rpy="0 0 0" />
      <mass
        value="0.5276" />
      <inertia
        ixx="0.0020559"
        ixy="2.7802E-05"
        ixz="-0.00014013"
        iyy="0.0017146"
        iyz="3.7604E-05"
        izz="0.00081558" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/front_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/front_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_joint"
    type="fixed">
    <origin
      xyz="0.066713352258944 -0.0303004996531292 0.00941083516771894"
      rpy="0 -1.5707963267949 0" />
    <parent
      link="base_link" />
    <child
      link="front_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="front_right_thigh">
    <inertial>
      <origin
        xyz="1.102E-08 -0.031603 0.0092036"
        rpy="0 0 0" />
      <mass
        value="0.022922" />
      <inertia
        ixx="1.5572E-05"
        ixy="1.299E-11"
        ixz="-2.1489E-12"
        iyy="1.627E-06"
        iyz="3.9736E-07"
        izz="1.5478E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/front_right_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/front_right_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_shoulder_joint"
    type="revolute">
    <origin
      xyz="0 0.013411 0"
      rpy="1.5708 -0.73995 3.1416" />
    <parent
      link="front_right" />
    <child
      link="front_right_thigh" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="front_right_calf">
    <inertial>
      <origin
        xyz="0.033216 -1.0408E-17 0.0026355"
        rpy="0 0 0" />
      <mass
        value="0.0048196" />
      <inertia
        ixx="4.1807E-08"
        ixy="-4.2683E-22"
        ixz="3.0842E-08"
        iyy="4.0529E-06"
        iyz="-6.9483E-23"
        izz="4.0694E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/front_right_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79608 0.82353 0.93725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/front_right_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_knee_joint"
    type="revolute">
    <origin
      xyz="0 -0.0815 0.01025"
      rpy="0 0 0.036854" />
    <parent
      link="front_right_thigh" />
    <child
      link="front_right_calf" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="front_right_foot">
    <inertial>
      <origin
        xyz="0.033216 -2.4286E-17 0.0026355"
        rpy="0 0 0" />
      <mass
        value="0.0048196" />
      <inertia
        ixx="4.1807E-08"
        ixy="-7.8913E-22"
        ixz="3.0842E-08"
        iyy="4.0529E-06"
        iyz="-7.2792E-23"
        izz="4.0694E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/front_right_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79608 0.82353 0.93725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/front_right_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_foot_joint"
    type="fixed">
    <origin
      xyz="0.0825 -0.0045 0"
      rpy="0 0 0" />
    <parent
      link="front_right_calf" />
    <child
      link="front_right_foot" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="back_left">
    <inertial>
      <origin
        xyz="-0.00983991079994292 -0.0351645155542096 -0.0603637765831304"
        rpy="0 0 0" />
      <mass
        value="0.527599038136683" />
      <inertia
        ixx="0.00205587025679296"
        ixy="-2.78017697851429E-05"
        ixz="0.000140125524164162"
        iyy="0.00171457425703914"
        iyz="3.76038768185095E-05"
        izz="0.000815577186189188" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/back_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/back_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_left_joint"
    type="fixed">
    <origin
      xyz="-0.0682047477410559 0.0305595003468727 0.00941083516771887"
      rpy="3.14159265358979 -1.5707963267949 0" />
    <parent
      link="base_link" />
    <child
      link="back_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="back_left_thigh">
    <inertial>
      <origin
        xyz="1.11620484521957E-08 -0.031602966790318 0.009203583306911"
        rpy="0 0 0" />
      <mass
        value="0.0229224082530612" />
      <inertia
        ixx="1.55724920493925E-05"
        ixy="1.30867178502939E-11"
        ixz="-2.14331805792514E-12"
        iyy="1.626980980442E-06"
        iyz="3.97358803925911E-07"
        izz="1.54775532334603E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/back_left_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/back_left_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_left_shoulder_joint"
    type="revolute">
    <origin
      xyz="0 0.013411 0"
      rpy="-1.5708 -0.73125 0" />
    <parent
      link="back_left" />
    <child
      link="back_left_thigh" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="back_left_calf">
    <inertial>
      <origin
        xyz="0.0332157595947743 -6.93889390390723E-17 0.00263553758269552"
        rpy="0 0 0" />
      <mass
        value="0.00481963739684099" />
      <inertia
        ixx="4.18065599214046E-08"
        ixy="3.46247260056036E-21"
        ixz="3.08424550600374E-08"
        iyy="4.05286937066263E-06"
        iyz="-1.35659316803397E-23"
        izz="4.06944336741809E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/back_left_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.823529411764706 0.937254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/back_left_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_left_knee_joint"
    type="revolute">
    <origin
      xyz="0 -0.0815 0.01025"
      rpy="0 0 3.1052" />
    <parent
      link="back_left_thigh" />
    <child
      link="back_left_calf" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="back_left_foot">
    <inertial>
      <origin
        xyz="0.0332157595947743 -5.55111512312578E-17 0.00263553758269552"
        rpy="0 0 0" />
      <mass
        value="0.00481963739684099" />
      <inertia
        ixx="4.18065599214041E-08"
        ixy="3.3913350678808E-21"
        ixz="3.08424550600375E-08"
        iyy="4.05286937066263E-06"
        iyz="-2.01833765807643E-23"
        izz="4.06944336741809E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/back_left_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.823529411764706 0.937254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/back_left_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_left_foot_joint"
    type="fixed">
    <origin
      xyz="0.0825 0.0045 0"
      rpy="0 0 0" />
    <parent
      link="back_left_calf" />
    <child
      link="back_left_foot" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="back_right">
    <inertial>
      <origin
        xyz="0.00983991079994289 -0.0256954844457904 -0.0603637765831304"
        rpy="0 0 0" />
      <mass
        value="0.527599038136683" />
      <inertia
        ixx="0.00205587025679296"
        ixy="-2.78017697851429E-05"
        ixz="-0.000140125524164162"
        iyy="0.00171457425703914"
        iyz="-3.76038768185095E-05"
        izz="0.000815577186189188" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/back_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/back_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_right_joint"
    type="fixed">
    <origin
      xyz="-0.0682047477410559 -0.0303004996531274 0.00941083516771885"
      rpy="3.14159265358979 1.5707963267949 0" />
    <parent
      link="base_link" />
    <child
      link="back_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="back_right_thigh">
    <inertial>
      <origin
        xyz="1.10059232491522E-08 -0.0316029667389578 0.00920358331034415"
        rpy="0 0 0" />
      <mass
        value="0.02292240821336" />
      <inertia
        ixx="1.55724920110539E-05"
        ixy="1.29803988550251E-11"
        ixz="-2.14940398520425E-12"
        iyy="1.62698097700527E-06"
        iyz="3.97358806581853E-07"
        izz="1.54775531921418E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/back_right_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/back_right_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_right_shoulder_joint"
    type="revolute">
    <origin
      xyz="0 0.013411 0"
      rpy="-1.5708 0.73101 0" />
    <parent
      link="back_right" />
    <child
      link="back_right_thigh" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="back_right_calf">
    <inertial>
      <origin
        xyz="0.0332157595947743 -2.77555756156289E-17 0.00263553758269555"
        rpy="0 0 0" />
      <mass
        value="0.00481963739684099" />
      <inertia
        ixx="4.18065599214047E-08"
        ixy="-8.15600083977285E-22"
        ixz="3.08424550600334E-08"
        iyy="4.05286937066263E-06"
        iyz="-4.96308367531817E-23"
        izz="4.06944336741808E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/back_right_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.823529411764706 0.937254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/back_right_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_right_knee_joint"
    type="revolute">
    <origin
      xyz="0 -0.0815 0.01025"
      rpy="0 0 0.0365" />
    <parent
      link="back_right_thigh" />
    <child
      link="back_right_calf" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="back_right_foot">
    <inertial>
      <origin
        xyz="0.0332157595947743 -2.77555756156289E-17 0.00263553758269555"
        rpy="0 0 0" />
      <mass
        value="0.00481963739684099" />
      <inertia
        ixx="4.18065599214047E-08"
        ixy="-8.15600083977285E-22"
        ixz="3.08424550600334E-08"
        iyy="4.05286937066263E-06"
        iyz="-4.96308367531817E-23"
        izz="4.06944336741808E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/back_right_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.823529411764706 0.937254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spot_micro_urdf/meshes/back_right_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_right_foot_joint"
    type="fixed">
    <origin
      xyz="0.0825 -0.0045 0"
      rpy="0 0 0" />
    <parent
      link="back_right_calf" />
    <child
      link="back_right_foot" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>